{% if admin.isGranted('VIEW', object) and admin.hasRoute('print') %}
    <a href="{{ admin.generateObjectUrl('print', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'action_print'|trans({}, 'SonataAdminPrintBundle') }}" target="_blank">
        <i class="fa fa-print"></i>
        {{ 'action_print'|trans({}, 'SonataAdminPrintBundle') }}
    </a>
{% endif %}
